* {
  box-sizing: border-box;
}

body {
  background-image: url("assets/images/leather_1.png");
}

h1,
h4,
h6 {
  line-height: 24px;
  text-align: center;
  color: #444444;
  font-family: "Julius Sans One", sans-serif;
}

h1 {
  padding-bottom: 20px;
  margin-bottom: 40px;
  font-size: xx-large;
}

.title {
  margin-top: 250px;
  margin-bottom: 20px;
}
.subtitle {
  margin: 0;
  font-size: 18px;
  line-height: 1.75;
}

a {
  color: #555555;
}

.social {
  width: 25px;
  height: 25px;
  margin-top: 1px;
  padding-right: 4px;
  margin-right: 8px;
  cursor: pointer;
}
.social:last-child {
  margin-right: 0;
}

.footer {
  /* background-color: cornsilk; */
  background-color: #fff;
  color: #666;
  padding: 10px 0 30px 0;
  clear: both;
  /* border-top: 8px solid lightskyblue; */
  border-top: 2px solid #9999;
  font-size: 10px;
  text-align: center;
  height: 90px;
  /* position: absolute; */
  position: fixed;
  width: 100%;
  bottom: 0px;
}

#copyright {
  margin-top: 10px;
  font-size: 9px;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
